/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  line-height: 1.5;
}

/* Header styles */
header {
  text-align: center;
  padding: 30px;
  background: linear-gradient(45deg, #252525, #000);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Main sections */
section {
  padding: 50px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.project {
  margin-bottom: 30px;
}

.project h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(45deg, #252525, #000);
  color: #fff;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Add spaces between lines */
p {
  margin-bottom: 10px;
}
